select {
  width: 87%;
  height: 45px;
  border-radius: 10px;
  margin-top: 10px;
  border: 1px solid #112F5C;

}

option {
  background-color: #fff;
  color: red;
  height: 100px;
}

option:active {
  background-color: pink;
  color: #fff;
}
  
option::selection {
  background-color: #112F5C;
  color: #fff;
}