button {
    width: 150px;
    height: 40px;
    margin: 0px 10px;
    
    border: none;
    border-radius: 8px;

    color: #fff;
    background-color: #112F5C;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
