/* FILEPATH: /c:/Users/60590962396/Desktop/Projetos/pazChurch/pazChurch-form/src/components/Footer/footer.css */

/* Footer container */
/* .footer {
    background-color: #f2f2f2;
    width: 100%;
    padding: 20px;
    bottom: 0;
    position: relative;
} */
