.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 650px;
    background-image: url('./assets/image/bg-friends.png');
    background-size: cover;
    background-position: center;
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    width: 400px;
}

.texto h1 {
    font-size: 1.3em;
    font-weight: bold;
}

.texto p {
    font-size: 10px;
}

.visao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #E7E7E7;
}

.visao h2 {
    margin: 20px 0px 10px 0px;
    font-size: 1.5rem;
}

.visao .paragrafo {
    width: 80%;
    margin: 0px 0px 20px 0px;
}

.visao p {
    font-size: 12px;
    margin: 10px;
    text-align: justify;
}

.forms {
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 100%;
    height: 100vh;
}

.forms-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.forms-text p {
    width: 91%; 
    font-size: 13px;
    line-height: 1.8;
    align-items: center;
    margin-top: 20px;
}

.forms-text .bold {
    font-weight: bold;
    margin-top: 5px;
}

.dados-pessoais {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dados-pessoais h3 {
    padding: 15px;
    text-transform: uppercase;
}
.button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
button {
    justify-content: center;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: center;
    width: 85%;
    height: 40px;
    background-color: #112F5C;
    border-radius: 10px;
    border: none;
}